@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color: #2b1055;
    --secondy-color: #7597de;
    --third-color: #ffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(var(--primary-color),var(--secondy-color));
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo{
    color: var(--third-color);
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

nav ul li{
    list-style: none;
    margin-left: 20px;

}

nav ul li a{
   text-decoration: none;
   padding: 6px 15px;
   color: var(--third-color); 
}

nav ul li a:hover,
.active {
    background: var(--third-color);
    color: var(--primary-color);
    border-radius: 20px;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;   
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon{
    mix-blend-mode: screen; /*A propriedade mix-blend-mode especifica como o conteúdo de um elemento deve se mesclar com seu plano de fundo pai direto.*/
}

section img#mountains_front{
    z-index: 10;
}

#text{
    position: absolute;
    color: var(--third-color);
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    
}

#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: var(--third-color);
    color: var(--primary-color);
    font-size: 1.5em;
    z-index: 8;
    transform: translateY(100px);
}